#!/usr/bin/make -f

PROJECT = yt-dlp
OUT = ${CURDIR}/debian/${PROJECT}

#export DH_VERBOSE = 1
export DH_OPTIONS
export PYTHON=/usr/bin/python3.9
export PREFIX=/usr
export SYSCONFDIR=/etc

%:
	dh $@

override_dh_auto_build:
	make

override_dh_auto_configure:
	python3 devscripts/set-variant.py debian -M "As yt-dlp has been installed via apt, you should use that to update.  If you're on a stable release, also check backports."

override_dh_clean:
	make clean
	dh_clean

override_dh_auto_install:
	dh_auto_install --destdir="${OUT}"
#	install -Dm755 "dist/yt-dlp_linux" "${OUT}/usr/bin/${PROJECT}"

override_dh_auto_test:
	make offlinetest

override_dh_installchangelogs:
	dh_installchangelogs Changelog.md

	
basenum = $(shell sed -n '/Currently supported sites/=' debian/control)
generate_supported_sites:
	$(shell head -n +$$(expr $(basenum) + 1) debian/control > debian/control.new; \
	sed -n -e 's/.* \- \*\*/ /g' -e 's/:.*//' -e 's/\*\*.*/,/p' supportedsites.md | fmt >> debian/control.new)
